<h1>{{welcome}}</h1>
<p>{{message}}</p>

<ul>
  <li>
    <a class="get-posts" href="/cars">Get Cars</a>
  </li>
  <li>
    <a class="get-one" href="/cars/R58">Get One</a>
  </li>
</ul>

<button id="F55" class="getButton" type="button" name="button">F55 data</button>
<button id="F56" class="getButton" type="button" name="button">F56 data</button>
<button id="R58" class="getButton" type="button" name="button">R58 data</button>
<button class="deleteButton" type="button" name="button">Delete</button>
